body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;
	text-shadow: 0 0 3px white;
	background-image: url("../images/spice_spoons.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
	font-family: 'Merienda', cursive;
	text-align: center;
}

h2, h3 {
	font-family: 'Merienda', cursive;
	text-align: center;
	line-height: 27px;
}

button {
	font-family: 'Merienda', cursive;
	text-align: center;
	color: #092332;
}

#start-button {
	margin: 155px;
	padding: 15px;
	font-size: 30px;
}

#game-content,
#end-content {
	display: none;
}

#header {
	color: #536b3b;
	padding-top: 0px;
	margin-bottom: 0px;
	font-size: 70px;
}

#header-top {
	color: #536b3b;
	padding-top: 20px;
	margin-bottom: 0px;
	font-size: 70px;
}

#subheader {
	font-family: 'Merienda', cursive;
	color: #c1281c;
	font-size: 18px;
}

#timer {
	color: #f9faf5;
	font-size: 88px;
	position: absolute;
	position: fixed;
	left: 200px;
}

#question-and-answers,
#end-info {
	font-family: 'Roboto', sans-serif;
	padding: 30px;
	color: #613546;
}

/*hr {
	border: 0;
    height: 1px;
    background-color: #536b3b;
}*/

h2 {
	font-family: 'Merienda', cursive;
	font-size: 20px;
}

#answers-area {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	opacity: 0.8;
	box-shadow: 0 0 5px #f9faf5;
	font-color: #092332;
	background-color: #f9faf5;
}

img {
	width: 60%;
	height: 60%;
}

#end-info {
	padding: 30px;
	margin-top: 120px;
	margin-bottom: 240px;
	/*margin-left: 380px;*/
}

#footer {
	color: #bed4b5;
	padding: 15px;
}

a {
	color: #bed4b5;
}

a:hover {
	opacity: 0.5;
	color: #536b3b;
	text-decoration: none;
}