body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;
}

h1 {
	font-family: 'Merienda', cursive;
	text-align: center;
}

h2, h3 {
	font-family: 'Merienda', cursive;
	text-align: center;
	line-height: 27px;
}

button {
	font-family: 'Merienda', cursive;
	text-align: center;
	color: #092332;
}

#start-button {
	margin: 200px;
	padding: 30px;
}

#game-content, #end-content {
	display: none;
}

#container {
	background-image: url("../images/spice_spoons.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#header {
	color: #b13b2d;
	padding-top: 0px;
	margin-bottom: 0px;
	font-size: 70px;
}

#header-top {
	color: #b13b2d;
	padding-top: 10px;
	margin-bottom: 0px;
	font-size: 70px;
}

#subheader {
	font-family: 'Merienda', cursive;
	color: #ccc460;
	font-size: 18px;
}

#timer {
	color: #f9faf5;
	font-size: 88px;
	position: absolute;
	position: fixed;
	left: 200px;
}

#question-and-answers, #end-info{
	padding: 30px;
	opacity: 0.8;
	box-shadow: 0 0 5px #f9faf5;
	font-color: #092332;
	background-color: #f9faf5;
}

.answers {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

h2 {
	font-family: 'Merienda', cursive;
	font-size: 20px;
}

img {
	width: 60%;
	height: 60%;
}

#end-info {
	padding: 100px;
}

#footer {
	font-family: 'Roboto', sans-serif;
	color: #b13b2d;
	padding: 15px;
}

a {
	color: #b13b2d;
}

a:hover {
	opacity: 0.5;
	color: #e87507;
	text-decoration: none;
}