body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;
	text-shadow: 0 0 3px white;
	background-image: url("../images/spices.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
	font-family: 'Merienda', cursive;
	text-align: center;
}

h2, h3 {
	font-family: 'Merienda', cursive;
	text-align: center;
	line-height: 27px;
}

button {
	font-family: 'Merienda', cursive;
	text-align: center;
	color: #092332;
}

#start-button {
	margin: 155px;
	padding: 15px;
	font-size: 30px;
}

#game-content {
	display: none;
}

#header {
	color: #536b3b;
	padding-top: 0px;
	margin-bottom: 0px;
	font-size: 70px;
}

#header-top {
	color: #536b3b;
	padding-top: 20px;
	margin-bottom: 0px;
	font-size: 70px;
}

#subwrapper{
	background-color: white;
	opacity: 0.8;
	border-radius: 8px;
	padding-bottom: 20px;
}

#counter {
	font-size: 30px;
}

#subheader {
	font-family: 'Merienda', cursive;
	color: #c1281c;
	font-size: 18px;
}

#time-remaining {
	padding-top: 20px;
}

#question-and-answers {
	font-family: 'Roboto', sans-serif;
	padding: 30px;
	color: black;
}

#quiz-over-message {
	padding-top: 20px;
}

h2 {
	font-family: 'Merienda', cursive;
	font-size: 20px;
}

#footer {
	color: #bed4b5;
	padding: 15px;
}

a {
	color: #bed4b5;
}

a:hover {
	opacity: 0.5;
	color: #536b3b;
	text-decoration: none;
}